section {
  display: flex;
}
article {
  background-color: black;
  height: 300px;
  border: solid 1px white;
  width: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  background-color: white;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
p {
  font-size: 22px;
  font-family: Impact;
}
